<!DOCTYPE html>
<html ng-app='events'>
<head>
  <title>events</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.6.10/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

  <script type="text/javascript" src = 'js/app.js'></script>
  <script type="text/javascript" src = 'js/factories/user.fact.js'></script>
  <script type="text/javascript" src = 'js/factories/auth.fact.js'></script>
  <script type="text/javascript" src = 'js/factories/events.fact.js'></script>
  <script type="text/javascript" src = 'js/controllers/auth.ctrl.js'></script>
  <script type="text/javascript" src = 'js/controllers/user.ctrl.js'></script>
  <script type="text/javascript" src = 'js/controllers/events.ctrl.js'></script>
</head>
<body ng-controller = "eventController as event">
    <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>
  <h1>hi</h1>
  <!-- THIS NAV CAN BE A PARTIAL -->
    <section class = 'userWigdet headerElement' ng-controller = 'authenticationController as auth'>
    <div ng-if = 'auth.user'>
      welcome {{auth.user.email}}, remember to keep our secrets
      <br>
      <ul>
        <li><a href = '#' ui-sref="home">home</a></li>
        <li><a href = '#' ui-sref="edit({uid: auth.uid})">edit profile</a></li>
        <li><a href = '#' ui-sref="favourites">favourites</a></li>
        <li><a href = '#' ui-sref="searchResult">search</a></li>
        <li> <a href = '#' ng-click = 'auth.signOut()'>signout</a></li>
      </ul>
    </div>
    <div ng-if = '!auth.user'>
      <p> welcome new</p>
      <br>
      <a href = '#' ui-sref='login'>login</a>
      <a href = '#' ui-sref='signUp'>sign up</a>
    </div>
    <section  ui-view></section>
  </section>
</body>
</html>
