<!DOCTYPE html>
<html ng-app='events'>
<head>
  <title>criminals</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
  <script type="text/javascript" src = 'js/app.js'></script>
 <!--  // <script type="text/javascript" src = 'js/factories/events.fact.js'></script>
  // <script type="text/javascript" src = 'js/controllers/events.ctrl.js'></script> -->
</head>
<body ng-controller = "eventController as event">
  <h1>hi</h1>
  <!-- THIS NAV CAN BE A PARTIAL -->
  <nav>
    <div id = 'searchBar'>
      <ul>
        <li ng-click = ''>home</li>
        <li ng-click = ''>edit profile</li>
        <li ng-click = ''>favourites</li>
      </ul>
    </div>
    <section ></section>
  </nav>

 <!--  <section ui-view ng-controller = "criminalController as criminal"></section> -->
</body>
</html>
