<!DOCTYPE html>
<html ng-app='events'>
<head>
  <title>events</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

  <script type="text/javascript" src = 'js/app.js'></script>
  <script type="text/javascript" src = 'js/factories/auth.fact.js'></script>
  <script type="text/javascript" src = 'js/controllers/auth.ctrl.js'></script>
  <script type="text/javascript" src = 'js/factories/events.fact.js'></script>
  <script type="text/javascript" src = 'js/controllers/events.ctrl.js'></script>
</head>
<body ng-controller = "eventController as event">
  <h1>hi</h1>
  <!-- THIS NAV CAN BE A PARTIAL -->
  <nav>
    <div id = 'searchBar'>
      <ul>
        <li><a ui-sref="home">home</a></li>
        <li><a ui-sref="edit">edit profile</a></li>
        <li><a ui-sref="favourites">favourites</a></li>
      </ul>
    </div>
    <section ng-controller='authenticationController as auth' ui-view></section>
  </nav>
</body>
</html>
