<!DOCTYPE html>
<html ng-app='events'>
<head>
  <title>events</title>
  <!-- styling tags -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <!-- angular tags -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.6.10/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
  <!-- other tags -->
  <script type="text/javascript" src = 'js/app.js'></script>
  <script type="text/javascript" src = 'js/factories/user.fact.js'></script>
  <script type="text/javascript" src = 'js/factories/auth.fact.js'></script>
  <script type="text/javascript" src = 'js/factories/events.fact.js'></script>
  <script type="text/javascript" src = 'js/controllers/auth.ctrl.js'></script>
  <script type="text/javascript" src = 'js/controllers/user.ctrl.js'></script>
  <script type="text/javascript" src = 'js/controllers/events.ctrl.js'></script>
</head>
<body ng-controller = "eventController as event">
  <div class="container">
  <div class="jumbotron">
    <h1>Bootstrap Tutorial</h1>
    <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing
    responsive, mobile-first projects on the web.</p>
  </div>
  <p>This is some text.</p>
  <p>This is another text.</p>
</div>




  <h1>eventListener</h1>
  <!-- <img src="https://images.unsplash.com/photo-1483101974978-cf266fdf1139?dpr=1"> -->

  <!-- THIS NAV CAN BE A PARTIAL -->
  <section class = 'userWigdet' ng-controller = 'authenticationController as auth'>
    <div ng-if = 'auth.user'>
      welcome {{auth.user.email}}, remember to keep our secrets
      <br>
      <ul>
        <li><a href = '#' ui-sref="home">home</a></li>
        <li><a href = '#' ui-sref="edit({uid: auth.uid})">edit profile</a></li>
        <li><a href = '#' ui-sref="favourites">favourites</a></li>
        <li><a href = '#' ui-sref="searchResult">search</a></li>
        <li> <a href = '#' ng-click = 'auth.signOut()'>signout</a></li>
      </ul>
    </div>
    <div ng-if = '!auth.user'>
      <p>welcome new</p>
      <br>
      <a href = '#' ui-sref='login'>login</a>
      <a href = '#' ui-sref='signUp'>sign up</a>
    </div>
    <section  ui-view></section>
  </section>
</body>
</html>
