<h1>edit profile</h1>
<section ng-controller = 'userController as user'></section>
<form ng-submit = 'user.updateUser()'>
  <div>
    Email: <input type="text" ng-model="auth.email">
  </div>

  <div>
    Password: <input type="text" ng-model="auth.password">
  </div>

  <div>
    first name: <input type="text" ng-model="auth.first_name">
  </div>

  <div>
    last name: <input type="text" ng-model="auth.last_name">
  </div>
  <div>
    mobile number: <input type="Number" ng-model="auth.mobile_number">
  </div>
    <div>
    postcode: <input type="text" ng-model="auth.post_code">
  </div>
  <input type="submit" vaule="Update">

  </form>
